body {
    padding-left: 10%;
    padding-right: 10%;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gainsboro;
}

body:after {
    background-color: whitesmoke;
    content: '';
    display: block;
    position: fixed;
    top: 0px;
    left: 10%;
    right: 10%;
    bottom: 0px;
    z-index: -1;
}

footer {
    padding-top: 1.1em;
    margin-bottom: 1.1em;
    border-top: 1px solid navy;
    text-align: right;
}

@media (max-width: 600px) {
    body {
      padding: 0%;
      background-color: whitesmoke;
    }
    body:after {
        display: none;
    }
    details {
        justify-self: center;
    }
  }

h1 {
    text-align: center;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: azure;
    background-color: navy;
    text-indent: 30px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

h1 + p {
    margin-top: 100px;
}

p + h2, ul + h2, table + h2 {
    margin-top: 70px;
}

p + footer {
    margin-top: 2em;
}

details + details {
    margin-top: 1.5em;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em;
    border-spacing: 10px;
    overflow-x: auto;
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

details {
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
	width: fit-content;
    border-radius: 8px;
    
    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }
    
    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition: content-visibility 0.6s ease allow-discrete, opacity 0.6s, block-size 0.6s;
    }
    
    &[open]::details-content {
        opacity: 1;
        block-size: auto;
    }
}

summary {
    list-style: none;
    text-align: center;
    text-indent: 0.5em;
    font-weight: bold;
    color: azure;
    background-color: navy;
    border-radius: 8px;
    transition: all 0.6s ease allow-discrete;

    &:focus {
        outline: none;
    }
    
    &:hover {
        cursor: pointer;
    }
}

details[open] summary {
    border-radius: 8px 8px 0 0;
}

#up, #down {
    vertical-align: middle;
}

details:not(:open) #up {
    display: none;
}

details:not(:open) #down {
    display: inline;
}

details[open] #up {
    display: inline;
}

details[open] #down {
    display: none;
}